---
layout: default
---
<article class="post">

  <header class="post-header">
    <h1 class="post-title">Member: {{ page.title | escape }}</h1>
    <a href="https://github.com/open-traits-network/open-traits-network.github.io/edit/master/_members/{{ page.id }}.md" target="_blank">Edit</a>
  </header>

  <div class="post-content">
    <table>
      <tr><td><img src="" width="200px" id="profileImage" /></td>
        <td>
          <p>{{ page.affiliation }}</p>
          <p><a href="mailto:{{ page.email }}">{{ page.email }}</a></p>
          <p><a href="{{ page.website }}">{{ page.website }}</a></p>
          <p></p>
          <p>[{{ page.lat }}, {{ page.long }}]</p>
        </td>
      </tr>
    </table>    
    {{ content }}
  </div>

  <script type="text/javascript">
    {% include members.js %}
    document.addEventListener("DOMContentLoaded", function(event) {
      element = document.getElementById("profileImage");
      element.src = memberImageSrc["{{page.id}}"];
    });
  </script>

</article>
